@media screen and (max-width: 600px)
  {
    h1 {

      font-size: 0,5em;
      padding: 5%;
    }
    h2 {
      font-size: 0,4em;
      padding: 5%;
    }
  }

  
html, body {
    height: 100%;
    margin: 0px;}

