body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #222;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
  }
  .gallery img {
    width: calc(50% - 37px);
    margin: 18px;
    cursor: pointer;
  }
  .bnav {
          background-color: #6d6a6ad3;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

          }
        .bnav a {
          float: left;
          color: #000000;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 1.2rem;
      
      }

 
      .bnav a:hover {
          background-color: #f0de3b2a;
          color: rgba(255, 255, 255, 0.54);
          border: 2px solid rgb(0, 0, 0);
          filter: blur(1px);
      }

      header {
          display: flex;
      }