#MainText{
    color: #ffffff;
    text-shadow: -1px -1px 0 rgb(255, 0, 0), 1px -1px 0 rgb(204, 0, 255), -1px 1px 0 rgb(0, 255, 55), 1px 1px 0 rgb(0, 38, 255);
    font-size: 6rem;
    font-family: 'distortion_dos_analogueRg';
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  

@font-face{
    font-family: 'distortion_dos_analogueRg';
    src: url('fonts/distortion_dos_analogue-webfont.woff2') format('woff2'),
    url('distortion_dos_analogue-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0px;
}

.background {
  background-image: url('images/glitch.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

  
#AnswerInput
{
padding: 1%;
  border-style: ridge;
  min-height: 80px;
  max-height: 200px;
  width: 50%;
  font-family: 'Courier New', monospace;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: white;
  overflow-y: hidden;

 


}
  


#QuestionForm
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.button
{
  outline: none;
  cursor: pointer;
  position: relative;
  top: 1.5%;
  font-size: 1rem;
  border: outset;
  font-family: ¨monospace;
  letter-spacing: 1.5px;
  border-block-color: rgb(194, 194, 214);
  }
